<h1>{{title}}</h1>

<h2 *ngIf="atualizacao">Momento da atualização: {{atualizacao | date:"dd/MM/yyyy HH:mm"}}</h2>
<h2 *ngIf="atualizacao">Momento da atualização: {{atualizacao | date:"dd' de 'MMMM' de ' yyyy HH:mm"}}</h2>


<button (click)="atualizarData()">Atualizar Data e Hora</button>

<!-- Tudo colocado aqui ficará na tela, o resto dos componentes serão englobados -->
<br>
<a routerLink="/home"><button>Home</button></a>
<br>
<a routerLink="/sobre"><button>Sobre</button></a>
<br>
<router-outlet></router-outlet> <!--Carrega minhas rotas do arquivo app-routing.ts-->